$color-primary: #47798C;
$color-primary-light: #CF9572;
$color-secondary: #353839;
$color-secondary-light: #34657F;
$color-accent: #F0E3D7;

$color-text: #555555;
$color-white: #F0E3D7;
$color-white-transparent: rgba($color-white, .8);

$font-primary: Oswald, sans-serif;

$button-border-radius: .5rem;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 10px = 1rem; 10/16px = 62.5%;

    @include responsive(tab-land) {
        font-size: 56.25%; // 9px = 1rem; 9/16px = 56.25%;
    }

    @include responsive(tab-port) {
        font-size: 50%; // 8px 
    }

    @include responsive(phone) {
        font-size: 43.75%; // 7px = 1rem
    }

    @include responsive(big-desktop) {
        font-size: 75%; // 12px = 1rem
    }
}

body {
    font-family: $font-primary;
    color: $color-text;
    font-weight: 400;
    line-height: 1.6;
    background-color: $color-primary;
}