@import url('https://fonts.googleapis.com/css?family=Oswald');
@import 'header';
@import 'base';

//COLOR PALETTE
$blue: #47798C;
$salmon: #CF9572;
$black: #000000;
$off-white: #F0E3D7;
$white: #FFFFFF;

// GLOBAL VARIABLES
$font-san-serif: "Oswald";
$grey-dark: $off-white;
$grey-light: $white;
$primary: $blue;
$link: $off-white;
$widescreen-enabled: false;
$fullhd-enabled: false;
$header: $blue;

// COMPONENET VARIABLES
$body-background-color: $blue;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// IMPORTS
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/section.sass";